
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        
        <c-card-group class="mb-4">
            <c-card>
              <img cCardImg="top" src="../../../assets/images/g3.jpg">
              <c-card-body>
                <h5 cCardTitle>For Gaming</h5>
                <p cCardText>
                    Unleash your gaming potential with our state-of-the-art gaming computer, designed to deliver unparalleled performance, jaw-dropping graphics, and lightning-fast speed. Dominate the virtual realm and experience gaming like never before!
                </p>
              </c-card-body>
              <c-card-footer>
                <small class="text-medium-emphasis">PC Build Guide</small>
              </c-card-footer>
            </c-card>
            <c-card>
              <img cCardImg="top" src="../../../assets/images/g1.png">
              <c-card-body>
                <h5 cCardTitle>For Work</h5>
                <p cCardText>
                    Take your productivity to new heights with our cutting-edge work PC, meticulously crafted to tackle complex tasks effortlessly. Boost your efficiency with lightning-fast processing, vast storage capacity, and seamless multitasking capabilities. Experience the ultimate work companion that empowers you to conquer challenges and achieve new milestones!
                </p>
              </c-card-body>
              <c-card-footer>
                <small class="text-medium-emphasis">PC Build Guide</small>
              </c-card-footer>
            </c-card>
            <c-card>
              <img cCardImg="top" src="../../../assets/images/g6.jpg">
              <c-card-body>
                <h5 cCardTitle>For Home</h5>
                <p cCardText>
                    Transform your home into a hub of endless possibilities with our feature-packed home PC. From immersive entertainment to creative pursuits, this powerhouse delivers unrivaled performance, stunning visuals, and effortless connectivity. Elevate your digital lifestyle and make unforgettable memories with our reliable and versatile home PC.
                </p>
              </c-card-body>
              <c-card-footer>
                <small class="text-medium-emphasis">PC Build Guide</small>
              </c-card-footer>
            </c-card>
          </c-card-group> 
      </div>
      <div class="sidebar">
        
        <div class="gadget">
          <h2 class="star"><span><u>Navigation</u></span></h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['build']">Build your PC</a></li>
            <li><a [routerLink]="['about']">About Us</a></li>
            <li><a [routerLink]="['chat']">Talk to a helper</a></li>
            <li><a [routerLink]="['learn']">Build Guides</a></li>
          </ul>
        </div>
        <div class="gadget">
          <h2 class="star"><span><u>Learn to Build</u></span></h2>
          <div class="clr"></div>
          <ul class="nav">
            <li><a [routerLink]="['learn']">Gaming</a><br/>
                Unleash your inner champion with the art of building your very own gaming rig. </li>
            <li><a [routerLink]="['learn']">Workstation</a><br/>
                Unleash your professional prowess with a meticulously crafted work PC.</li>
            <li><a [routerLink]="['learn']">Streaming</a><br/>
                Elevate your content creation journey with a custom-built streaming PC</li>
            <li><a [routerLink]="['learn']">Budget</a><br/>
                Experience the perfect blend of performance and affordability with our custom-built budget PC.</li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
