<div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image</span> Gallery</h2>
        <a href="#"><img src="../../../assets/images/g1.png" width="75" height="75" alt="" class="gal" /></a> 
        <a href="#"><img src="../../../assets/images/g2.jpeg"  width="75" height="75" alt="" class="gal" /></a> 
        <a href="#"><img src="../../../assets/images/g3.jpg"  width="75" height="75" alt="" class="gal" /></a> 
        <a href="#"><img src="../../../assets/images/g4.webp" width="75" height="75" alt="" class="gal" /></a> 
        <a href="#"><img src="../../../assets/images/g5.webp"  width="75" height="75" alt="" class="gal" /></a> 
        <a href="#"><img src="../../../assets/images/g6.jpg"  width="75" height="75" alt="" class="gal" /></a>
      </div>
      <div class="col c2">
        <h2><span>Overview</span></h2>
        <p>Introducing Build Your PC - Your Ultimate Destination for Building Your Dream PC! Are you ready to unleash your gaming potential, boost your productivity, or dive into immersive multimedia experiences? Look no further than Build Your PC, the premier online destination for building your own customized PC! </p>
      </div>
      <div class="col c3">
        <h2><span>Contact Us</span></h2>
        <form cForm>
          <div class="mb-3">
            <label cLabel for="exampleFormControlInput1">Email address</label>
            <input cFormControl
                   id="exampleFormControlInput1"
                   placeholder="name@example.com"
                   type="email"
            />
          </div>
          <div class="mb-3">
            <label cLabel for="exampleFormControlTextarea1">Write Here---</label>
            <textarea cFormControl id="exampleFormControlTextarea1" rows="3"></textarea><br>
            <button>Submit</button>
          </div>
        </form>
      </div>
      <div class="clr"></div>
    </div>
  </div>
<div class="footer">
    <div class="footer_resize">
      <p class="lf"> Copyright 2023 Build Your PC</p>
      

    </div>
  </div>