 <div class="header">
    <div class="header_resize">
      <div class="menu_nav">
        <ul>
          <li><a [routerLink]="['']"><span>Home Page</span></a></li>
          <li><a [routerLink]="['build']"><span>Builder</span></a></li>
          <li><a [routerLink]="['about']"><span>About Us</span></a></li>
          <li><a [routerLink]="['learn']"><span>Build Guides</span></a></li>
          <li><a [routerLink]="['chat']"><span>Talk to a Helper</span></a></li>
        </ul>
      </div>
      <div class="logo">
        <h1><a href="index.html">Build Your PC</a></h1>
      </div>
    </div>
  </div>